body {
    margin: 0
}

hr {
    margin: 0;
    padding: 0px;
    border: dashed;
    border-width: thin;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: red
}

a:hover {
    color: green;
    font-family: 'Ubuntu', sans-serif;
}

label {
    vertical-align: top;
}
.top {
    padding-bottom: 100px;
    background-color: azure;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    color: rgb(180, 90, 90);
}

.middle {
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    background-color: azure;
    font-family: 'Roboto Mono', monospace;
    color:rgb(154, 97, 229)
}

.bottom {
    padding: 20px;
    margin: 0;
    background-color: azure;
    text-align: center;
    font-size: 15px;
    background-color: grey;
}

.list {
    float:right
}

.image {
    float: left;
}

.logo {
    width: 100px;
    float: right;
    padding-right: 50px
}

.wrapper {
    padding: 50px;
}

.wrapper:after {
    clear:both
}

.section {
    float: left;
    width: 50%;
    padding-bottom: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(44, 44, 44, 0.2);
    transition: 0.3s;
    margin:auto;
    width: 50%;
    text-align: center;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(185, 167, 167);
    color:black
}

#image-1 {
    position: absolute;
    width: 200px;
    border-radius: 50%;
}

#image-2 {
    position: absolute;
    width: 200px;
    left: 400px;
}

#image-3 {
    position: absolute;
    width: 200px;
    border-radius: 50%;
    left: 800px
}

#get-in-touch {
    background-color: rgb(211, 210, 210);
    border: solid;
    color: black;
    text-align: center
}